/* You can add global styles to this file, and also import other style files */
$black: #000;
$white: #fff;
html {
	font-size: 10px;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
}
p {
	margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
main {
	padding-top: 5rem;
}
.container {
	max-width: 40rem;
	margin: 0 auto;
}
